.header {
    font-size: 27px;
    /* align-items: center; */
    background-color: brown;
    color: white;
    margin-top: 4px;
    padding-top: 7px;
    padding-bottom: 8px;
    text-align: center;
}
.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 10px;
    border-radius: 4px;
    margin-top: 31px;
}
  .mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: -39px;
    border-radius: 4px;
    margin-top: 31px;
    width: 548px;
    margin-left: 310px;
    margin-top: -27px;
}
.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 10px;
    border-radius: 4px;
    margin-top: 27px;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 1px;
    padding-top: 31px;
}
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    margin-left: 90px;
    width: 330px;
}
.address {
    width: 150px;
}
.mat-card-content {
    padding: 0px;
    margin-top: -23px;
    padding-top: 14px;
}
.mard-card-title {
    color: brown;
    font-size: 23px;
    /* margin-bottom: 5px; */
    text-align: center;
}