<div>
    <div fxFlex="10%"></div>
    <div fxFlex="60%" *ngIf="!nonoteCondition">
      <mat-card>
        <!-- <mat-accordion class="headers-align" multi>
          <mat-expansion-panel [expanded]="step" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                My Cart
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let book of bagBook; let i=index">
              <div fxLayout="row wrap" fxLayoutGap="2%">
                <span>
                  <img mat-panel-image src="{{book[0].image}}">
                </span>
                <span>
                  <mat-card-title>{{book.bookName}}</mat-card-title>
                  <mat-card-subtitle>by {{book.author}}</mat-card-subtitle>
                  <mat-card-content> <b>Rs {{book.price}} <del>{{book[0].price+100}}</del></b></mat-card-content>
                  <button mat-icon-button (click)="removeItem(i)">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                  {{price[i]}}
                  <button mat-icon-button (click)="addItem(i)">
                    <mat-icon>add_circle_outline</mat-icon>
                  </button>
                  <button mat-stroked-button (click)="removeBook(bag[0],i)">
                    remove
                  </button>
                </span>
              </div>
            </div>
            <mat-action-row>
              <button mat-button color="primary" (click)="setStep1(1)">Next</button>
            </mat-action-row>
          </mat-expansion-panel>
          
          <mat-expansion-panel [expanded]="step1" (opened)="setStep1(1)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Customer Details
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxFlex="60%" [formGroup]="CustomerForm">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Full Name</mat-label>
                <input matInput formControlName="name" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Phone Number</mat-label>
                <input matInput type="tel" formControlName="phone" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="getInput">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>City/Town</mat-label>
                <input matInput formControlName="city" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>state</mat-label>
                <input matInput formControlName="state" required>
              </mat-form-field>
            </div>
            <mat-action-row>
  
              <button mat-button color="primary" [disabled]="!CustomerForm.valid"
                (click)="setStep2(2);custDetail(CustomerForm.value)">Next</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="step2" (opened)="setStep2(2)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Order summary
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let book of bagBook">
              <div fxLayout="row wrap" fxLayoutGap="2%">
                <span>
                  <img mat-panel-image src="{{book[0].image}}">
                </span>
                <span>
                  <mat-card-title>{{book[0].title}}</mat-card-title>
                  <mat-card-subtitle>by {{book[0].author}}</mat-card-subtitle>
  
                </span>
              </div>
            </div>
            <mat-card-content> <b> total amount :- Rs {{total()}} </b></mat-card-content>
            <mat-action-row>
              <button mat-raised-button color="primary" (click)="addDataToOrder()">Checkout</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion> -->
        <mat-accordion>
          <div class="main">
              <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle (opened)="setStep(0)">
                  <mat-expansion-panel-header>
                      <mat-panel-title>My Cart</mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="product-img-div">
                      <div>
                          <mat-card-content class="cover">
                              <img src="../../../assets/Images/bookIcon.png">
                          </mat-card-content>
                      </div>
                      <div class="product-div">
                          <mat-card-content class="detail">
                              <div *ngFor="let book of books">
                                  <mat-card-title>{{book.bookName}}</mat-card-title><br>
                                  <mat-card-subtitle>by {{book.author}}</mat-card-subtitle><br>
                                  <span><b>Rs {{book.price}}</b></span>
                              </div>
                          </mat-card-content>
                      </div>
                  </div>
                  <mat-action-row>
                      <button mat-button color="primary" (click)="nextStep()">Place order</button>
                  </mat-action-row>
              </mat-expansion-panel>
          </div>
      </mat-accordion>
      <mat-accordion>
          <div class="main">
              <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
                  <mat-expansion-panel-header>
                      <mat-panel-title>Customer Details</mat-panel-title>
                  </mat-expansion-panel-header>
                  <form [formGroup]="customerForm">
                      <div class="mat-div">
                          <div class="form-div">
                              <mat-form-field appearance="outline">
                                  <mat-label>First Name</mat-label>
                                  <input matInput type="text" placeholder="firstName" formControlName="firstName"
                                      id="fisrtName">
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                  <mat-label>Phone number</mat-label>
                                  <input matInput type="text" placeholder="PhoneNumber" formControlName="PhoneNumber"
                                      id="PhoneNumber">
                              </mat-form-field>
                          </div>
                          <div class="form-div">
                              <mat-form-field appearance="outline">
                                  <mat-label>Pin Code</mat-label>
                                  <input matInput type="text" placeholder="PinCode" formControlName="PinCode" id="PinCode">
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                  <mat-label>Locality</mat-label>
                                  <input matInput type="text" placeholder="Locality" formControlName="Locality" id="Locality">
                              </mat-form-field>
                          </div>
                          <div class="address-div">
                              <mat-form-field class="address-field" appearance="outline">
                                  <mat-label>Address</mat-label>
                                  <textarea matInput type="text" placeholder="Address" formControlName="Address"
                                      id="Address"></textarea>
                              </mat-form-field>
                          </div>
                          <div class="form-div">
                              <mat-form-field appearance="outline">
                                  <mat-label>City/Town</mat-label>
                                  <input matInput type="text" placeholder="City/Town" formControlName="City" id="City/Town">
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                  <mat-label>LandMark</mat-label>
                                  <input matInput type="text" placeholder="LandMark" formControlName="LandMark" id="LandMark">
                              </mat-form-field>
                          </div>
                          <div>
                              <mat-radio-group aria-label="Type">
                                  <div class="mat-radio">
                                      <mat-radio-button value="1">Home</mat-radio-button>
                                      <mat-radio-button value="2">Work</mat-radio-button>
                                      <mat-radio-button value="3">Other</mat-radio-button>
                                  </div>
                              </mat-radio-group>
                          </div>
                      </div>
                  </form>
                  <mat-action-row>
                      <button mat-button color="primary" (click)="nextStep()">Continue</button>
                  </mat-action-row>
              </mat-expansion-panel>
          </div>
      </mat-accordion>
      <mat-accordion>
          <div class="main">
              <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
                  <mat-expansion-panel-header>
                      <mat-panel-title>Order</mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="product-img-div">
                      <div>
                          <mat-card-content class="cover">
                              <img src="../../../assets/Images/bookIcon.png">
                          </mat-card-content>
                      </div>
                      <div class="product-div">
                          <mat-card-content class="detail">
                              <div *ngFor="let book of books">
                                  <mat-card-title>{{book.bookName}}</mat-card-title><br>
                                  <mat-card-subtitle>by {{book.author}}</mat-card-subtitle><br>
                                  <span><b>Rs {{book.price}}</b></span>
                              </div>
                          </mat-card-content>
                      </div>
                  </div>
                  <div class="bottom">
                      <button mat-raised-button color="primary" (click)="checkout()">CheckOut</button>
                  </div>
              </mat-expansion-panel>
          </div>
      </mat-accordion>
      </mat-card>
    </div>
  </div>
  <div *ngIf="nonoteCondition" fxLayout="row" fxLayoutAlign="center center" class="disabled">
    <div>
      no order in bag
    </div>
  </div>

